:root {
    --header-color: #2B3F61;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bs-white);
}

nav {
    background-color: var(--header-color);
}

nav ul {
    margin-left: auto !important;
}



.navbar .nav-item {
    margin: 0 2rem;
}

.offcanvas-header {
    background-color: var(--header-color);
}



.offcanvas .nav-item {
    font-size: 1.5rem;
}