<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SignIn&SignUp</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename = 'CSS/login style.css') }}" />
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>

</head>

<body>
  <div class="container">
    <div class="forms-container">
      <div class="signin-signup">

        <form action="{{ url_for('login') }}" class="sign-in-form" method="post">
          <h2 class="title">Login</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" name=userid required maxlength="10" placeholder="User ID" />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" name=password required placeholder="Password" />
          </div>
          {% if message %}
          <div class="invalid-feedback">
            {{message}}
          </div>
          {% endif %}
          <input type="submit" value="Login" class="btn solid" />
        </form>
      </div>
    </div>
    <div class="panels-container">

      <div class="panel left-panel">
        <div class="content">
          <h3>New here?</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio minus natus est.</p>

        </div>
        <img src="{{url_for('static', filename = 'Images/log.svg')}}" class="image" alt="">
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename = 'JavaScript/login app.js')}}"></script>
</body>

</html>