body {
    background-image: url("../Images/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 71%), 0 6px 20px 0 rgb(0 0 0 / 49%);
    border-radius: 2%;
    margin: 3em auto;
}

.submission {
    width: 9em;
    height: 3em;
    background-color: #9948b9;
}

.submission:hover {
    background-color: rgb(20, 205, 20);
    font-weight: 600;
}